# Node modules
node_modules/

# Build output
dist/
build/
lib/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Test coverage
coverage/
